@CHARSET "UTF-8";

body, input, div, span, p, a, td, th, caption, lable, h1, h2, h3, h4, h5, h6, textarea, iframe, ul, ol, li, dd, dt, b, u, i, strong{
	font-family: "나눔스퀘어", "나눔바른고딕", "돋움체";
	color: #333333;
	font-size: 12pt;
}

img {
	/* 이미지 주변의 파란 줄 제거 */ 
	border: none;	
}

body {	
	margin: 0px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}