<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Article</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DoLoginServlet</display-name>
    <servlet-name>DoLoginServlet</servlet-name>
    <servlet-class>com.ktds.leinalee.member.web.DoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLoginServlet</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharaterEncodingFilter</display-name>
    <filter-name>CharaterEncodingFilter</filter-name>
    <filter-class>com.ktds.leinalee.filter.CharaterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharaterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SessionCheckFilter</display-name>
    <filter-name>SessionCheckFilter</filter-name>
    <filter-class>com.ktds.leinalee.filter.SessionCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.ktds.leinalee.articles.web.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detailServlet</display-name>
    <servlet-name>detailServlet</servlet-name>
    <servlet-class>com.ktds.leinalee.articles.web.detailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecommendArticleServlet</display-name>
    <servlet-name>RecommendArticleServlet</servlet-name>
    <servlet-class>com.ktds.leinalee.articles.web.RecommendArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecommendArticleServlet</servlet-name>
    <url-pattern>/recommend</url-pattern>
  </servlet-mapping>
</web-app>