<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Article</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.ktds.smahn.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DoLoginServlet</display-name>
    <servlet-name>DoLoginServlet</servlet-name>
    <servlet-class>com.ktds.smahn.member.web.DoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLoginServlet</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SessionCheckFilter</display-name>
    <filter-name>SessionCheckFilter</filter-name>
    <filter-class>com.ktds.smahn.filter.SessionCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.ktds.smahn.article.web.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncreaseHitsServlet</display-name>
    <servlet-name>IncreaseHitsServlet</servlet-name>
    <servlet-class>com.ktds.smahn.article.web.IncreaseHitsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncreaseHitsServlet</servlet-name>
    <url-pattern>/increaseHits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncreaseRecommendsServlet</display-name>
    <servlet-name>IncreaseRecommendsServlet</servlet-name>
    <servlet-class>com.ktds.smahn.article.web.IncreaseRecommendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncreaseRecommendsServlet</servlet-name>
    <url-pattern>/increaseRecommends</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListServlet</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.ktds.smahn.article.web.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteServlet</display-name>
    <servlet-name>WriteServlet</servlet-name>
    <servlet-class>com.ktds.smahn.article.web.WriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteServlet</servlet-name>
    <url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WrtieActionServlet</display-name>
    <servlet-name>WrtieActionServlet</servlet-name>
    <servlet-class>com.ktds.smahn.article.web.WrtieActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WrtieActionServlet</servlet-name>
    <url-pattern>/writeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ktds.smahn.member.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterMember</display-name>
    <servlet-name>RegisterMember</servlet-name>
    <servlet-class>com.ktds.smahn.member.web.RegisterMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterMember</servlet-name>
    <url-pattern>/registerMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewMemberServlet</display-name>
    <servlet-name>AddNewMemberServlet</servlet-name>
    <servlet-class>com.ktds.smahn.member.web.AddNewMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewMemberServlet</servlet-name>
    <url-pattern>/addNewMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyServlet</display-name>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>com.ktds.smahn.article.web.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyServlet</display-name>
    <servlet-name>DoModifyServlet</servlet-name>
    <servlet-class>com.ktds.smahn.article.web.DoModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyServlet</servlet-name>
    <url-pattern>/doModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>com.ktds.smahn.article.web.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileServlet</display-name>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>com.ktds.smahn.file.web.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/file</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleDownload</display-name>
    <servlet-name>ArticleDownload</servlet-name>
    <servlet-class>com.ktds.smahn.article.web.ArticleDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDownload</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoWriteReplyServlet</display-name>
    <servlet-name>DoWriteReplyServlet</servlet-name>
    <servlet-class>com.ktds.smahn.reply.web.DoWriteReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteReplyServlet</servlet-name>
    <url-pattern>/doWriteReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FavoriteServlet</display-name>
    <servlet-name>FavoriteServlet</servlet-name>
    <servlet-class>com.ktds.smahn.favo.web.FavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavoriteServlet</servlet-name>
    <url-pattern>/favorite</url-pattern>
  </servlet-mapping>
</web-app>