<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HumanResource</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeesServlet</display-name>
    <servlet-name>EmployeesServlet</servlet-name>
    <servlet-class>com.ktds.leinalee.web.EmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeesServlet</servlet-name>
    <url-pattern>/emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentsServlet</display-name>
    <servlet-name>DepartmentsServlet</servlet-name>
    <servlet-class>com.ktds.leinalee.web.DepartmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentsServlet</servlet-name>
    <url-pattern>/DepartmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentsServelet</display-name>
    <servlet-name>DepartmentsServelet</servlet-name>
    <servlet-class>com.ktds.leinalee.web.DepartmentsServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentsServelet</servlet-name>
    <url-pattern>/dpt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobsServlet</display-name>
    <servlet-name>JobsServlet</servlet-name>
    <servlet-class>com.ktds.leinalee.web.JobsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobsServlet</servlet-name>
    <url-pattern>/jobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocationsServlet</display-name>
    <servlet-name>LocationsServlet</servlet-name>
    <servlet-class>com.ktds.leinalee.web.LocationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationsServlet</servlet-name>
    <url-pattern>/locations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountriesServelt</display-name>
    <servlet-name>CountriesServelt</servlet-name>
    <servlet-class>com.ktds.leinalee.web.CountriesServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountriesServelt</servlet-name>
    <url-pattern>/ctr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegionsServelt</display-name>
    <servlet-name>RegionsServelt</servlet-name>
    <servlet-class>com.ktds.leinalee.web.RegionsServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegionsServelt</servlet-name>
    <url-pattern>/rs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobhistoriesServlet</display-name>
    <servlet-name>JobhistoriesServlet</servlet-name>
    <servlet-class>com.ktds.leinalee.web.JobhistoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobhistoriesServlet</servlet-name>
    <url-pattern>/jh</url-pattern>
  </servlet-mapping>
</web-app>