@CHARSET "UTF-8";

body, input, div, span, p, a, td, th, caption, h1, h2, h3, h4, h5, h6,
	textarea, iframe, ul, al, li, dd, dt, b, u, i, string, pre, code,
	address, city, header, aside {
	color: #333333; /*검은색*/
	font-family: "나눔바른고딕", 맑은 고딕", "돋움체";
	font-size: 10px;
}

img {
	/*이미지 주변의 파란 줄 제거*/
	border: none;
}

body {
	background-color: #d7c85b;	
	margin : 0px;
}

div#wrapper {
	/*사용자의 컴퓨터 해상도를 모른다. 그래서 비율을 적어야 한다.*/
	width: 75%;
	background-color: #FFFFFF;
}

div#header img {
	width: 115px;
	height: 95px;
	float: left;
}

div#header div{
	padding-top: 40px;
	float: left;
}

div.clear {
	clear:both;
}
