@CHARSET "UTF-8";

div#listWrapper {
   text-align: center;
   background-color: #8ebe5a;
   height: 100%;
   padding: 15px;	
   float: left;
   padding-top: 70px;
}

div#listWrapper table#tableList {
	background-color: white;
	border :solid 2px;
	text-align: center;
	margin-left: 150px;
	margin-top: 30px;
	width: 900px;
}

table#tableList th {
	background-color: #333333;
	color: white;
}

#title, #descrption th {
	text-align: center;
}

.articleTitle {
	text-align: left;
	padding-left: 5px;
}

div#listWrapper div#buttonCollection {
	float: right;
}

div#totalArticleCount {
	background-color: yellow;
	float: left;
}

div#buttonCollection {
}

div#buttonCollection img {
	float: right;
}