@CHARSET "UTF-8";


#title, #descrption {
	text-align: center;
}

#tableList {
	background-color: white;
	border :solid 2px;
	text-align: center;
	margin-left: 150px;
	margin-top: 30px;
}

td#titleTD {
	width: 300px;
}
div#listWrapper {
   text-align: center;
   float: left;
   background-color: #9EC771;
   height: 100%;
   width: 750px;
   margin-top: 5%;
   margin-left: 20%;	
}

.articleTitle {
	text-align: left;
}