<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MovieKY</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MovieServlet</display-name>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>com.ktds.leinalee.web.MovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/movie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeServlet</display-name>
    <servlet-name>GradeServlet</servlet-name>
    <servlet-class>com.ktds.leinalee.web.GradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeServlet</servlet-name>
    <url-pattern>/grade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenreMovieCountServlet</display-name>
    <servlet-name>GenreMovieCountServlet</servlet-name>
    <servlet-class>com.ktds.leinalee.web.GenreMovieCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenreMovieCountServlet</servlet-name>
    <url-pattern>/gmcount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>com.ktds.leinalee.web.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActorServlet</display-name>
    <servlet-name>ActorServlet</servlet-name>
    <servlet-class>com.ktds.leinalee.web.ActorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActorServlet</servlet-name>
    <url-pattern>/actor</url-pattern>
  </servlet-mapping>
</web-app>