@CHARSET "UTF-8";

body, input, div, span, p, a, td, th, caption, lable, h1, h2, h3, h4, h5, h6, textarea, iframe, ul, ol, li, dd, dt, b, u, i, strong{
	font-family: "나눔스퀘어", "나눔바른고딕", "돋움체";
	color: #333333;
	font-size: 12pt;
}

img {
	/* 이미지 주변의 파란 줄 제거 */ 
	border: none;	
}

body {	
	background-color: #09abea;
	margin: 0px;
}

div#wrapper {
	background-color: #f4f3f2;
	width: 75%;	
}

div#header img {
	width: 120px;
	height: 90px;	
	padding: 10px;
	float: left;
}


div#header div {
	padding-top: 40px;
	float: left;
}

div.clear {
	/* 데이터 영역을 침범하지 않음 */
	clear:both;
}

#welcome {
	color: blue;
	float: right;
	margin_top: 50px;
}