@CHARSET "UTF-8";

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}

div#detailWrapper {
   text-align: center;
   float: left;
   background-color: #09abea;
   height: 100%;
   width: 750px;
   margin-top: 20%;
   margin-left: 20%;	
}

#descript {
	width: 250px;
	height: 300px;
}
