<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Movie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MovieServlet</display-name>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>com.ktds.gmkim.web.MovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/movie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>com.ktds.gmkim.web.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DirectorServlet</display-name>
    <servlet-name>DirectorServlet</servlet-name>
    <servlet-class>com.ktds.gmkim.web.DirectorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectorServlet</servlet-name>
    <url-pattern>/director</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewActorServlet</display-name>
    <servlet-name>AddNewActorServlet</servlet-name>
    <servlet-class>com.ktds.gmkim.web.AddNewActorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewActorServlet</servlet-name>
    <url-pattern>/addNewActor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewActorActionServlet</display-name>
    <servlet-name>AddNewActorActionServlet</servlet-name>
    <servlet-class>com.ktds.gmkim.web.AddNewActorActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewActorActionServlet</servlet-name>
    <url-pattern>/addNewActorAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewMovieServlet</display-name>
    <servlet-name>AddNewMovieServlet</servlet-name>
    <servlet-class>com.ktds.gmkim.web.AddNewMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewMovieServlet</servlet-name>
    <url-pattern>/addNewMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewMovieActionServlet</display-name>
    <servlet-name>AddNewMovieActionServlet</servlet-name>
    <servlet-class>com.ktds.gmkim.web.AddNewMovieActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewMovieActionServlet</servlet-name>
    <url-pattern>/addNewMovieAction</url-pattern>
  </servlet-mapping>
</web-app>