@CHARSET "UTF-8";
body, input, div, span, p, a, td, th, caption, h1, h2, h3, h4, h5, h6,
	textarea, iframe, ul, al, li, dd, dt, b, u, i, string, pre, code,
	address, city, header, aside {
	color: #ffffff; /*검은색*/
	font-family: "나눔바른고딕", 맑은 고딕", "돋움체";
	font-size: 10px;
}
html, body {
	height: 95%;
}

div#one1, div#one2, div#one3, div#one3, div#one4 {
	background-color: #242f43;
	width: 21.5%;
	height: 23%;	
	margin : 1%;
	float: left;
}

div#two1, div#two2 {
	background-color: #7787a6;
	width: 45%;
	height: 23%;		
	margin : 1%;
	float: left;
}

div#three1 {
	background-color: #172045;
	width: 70%;
	height: 23%;	
	margin : 1%;
	float: left;	
		
}div#three2 {
	background-color: #172045;
	width: 20%;
	height: 23%;	
	margin : 1%;
	float: left;	
}

div#four1 {
	background-color: #8b97c6;
	width: 93%;
	height: 23%;	
	margin : 1%;
	float: left;	
}


div.clear {
	clear:both;
}

